# Node dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build folders
build/
dist/

# Environment files
.env

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
